* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* using CSS variables  */
:root {
  --color-primary: #191d2b;
  --color-secondary: #94f0ba74;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #222e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* make stars twinkle */
body {
  background-image: url(../img/space.png);
  background-color: var(--color-primary);
  font-size: 1.1rem;
  font-family: "Roboto Mono", monospace;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

.typed-content {
  align-items: center;
}

/* table,
th,
td {
  border: 1px solid var(--color-white);
} */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

/* all sections sit on top of eachother with the absolute positioning 
we will use javascript to hide and show to give the illusion of changing 
sections  */
section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

/* this is by default off-screen with the Y-axis and a negative number  */
.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

/* 
each individual section 1 - 5 has a different background color but we set the display to none in order
to 'switch' between the sections  */
.sec1 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: aliceblue;
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: #ffffff;
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: #f8f8f8;
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: #dbe1e8;
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: #b2becd;
}

/* Controls */
/* we give it the position of fixed on the parent container  */
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4 ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
